{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class = "container-fluid">
    <h1 class="title">List of Post-Therapy</h1>
    <a href="{% url 'addPostTherapy' patient.slug %}" class="mr-1"><button href="{% url 'addPostTherapy' patient.slug %}" style="margin-top: 20px;"class="btn btn-success" type="button">Add Post-Therapy</button></a>
    <div class = "container-fluid mt-4 table-container">
      {% for therapylist in list %}
      <div class="row border-bottom bg-white p-3 ">

        <div class="col align-self-center">
            <h3>Post-therapy {{forloop.counter}}</h3>
        </div>

        <div class="col-auto align-self-end text-end">
            <a href="#" class="mr-1"><button type="button" class="btn btn-secondary btn-sm" href="#">View</button></a>
        </div>
        </div>
        {%endfor%}
    </div>

</div>
{% endblock content %}