{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- partial:index.partial.html -->
{% block content %}
<div class='dashboard'>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='container-fluid card w-50'>
                    <div class='card-header'>
                        <h1>Patient Information</h1>
                        <br>
                        <div>
                            <form method="POST" action ="" enctype="multipart/form-data">
                                <table>
                                    <tr>
                                        
                                        {% csrf_token %}
                                        <tr>{{ form.name | as_crispy_field }}</tr>
                                        <tr>{{ form.age | as_crispy_field }}</tr>
                                        <tr>{{ form.address | as_crispy_field }}</tr>
                                        <tr>{{ form.diagnosis_date | as_crispy_field }}</tr>
                                        <tr class="col-sm">{{ form.surgery_date | as_crispy_field }}</tr>
                                        <tr>{{ form.histopath_result | as_crispy_field }}</tr>
                                        <tr>{{ form.gleason_score | as_crispy_field }}</tr>
                                        <tr>{{ form.date_of_treatment | as_crispy_field }}</tr>
                                        <tr>{{ form.type_of_treatment | as_crispy_field }}</tr>
                                    </tr>
                                </table> 
                                <button style="margin-top: 20px;"class="btn btn-success" type="submit">Save Changes</button>
                            </form>
                </div>
            </div>        
        </div>
    </div>
</div>
{% endblock content %}
