{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- partial:index.partial.html -->
{% block content %}
<div class='dashboard'>

    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>EDIT SCREENING</h1>
                        <br>
                        <div>
                        <form method="POST" action ="" enctype="multipart/form-data">
                            <table>
                                <tr>
                                    {% csrf_token %}
                                    <td>{{ form.psa | as_crispy_field }}</td>
                                    <td>{{ form.creatinine | as_crispy_field }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.wbc | as_crispy_field }}</td>
                                    <td>{{ form.rbc | as_crispy_field }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.hemoglobin | as_crispy_field }}</td>
                                    <td>{{ form.hematocrit | as_crispy_field }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.platelet | as_crispy_field }}</td>
                                    <td>{{ form.lactate_hydrogenase | as_crispy_field }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.alkaline_phosphatase | as_crispy_field }}</td>
                                    <td>{{ form.sgpt | as_crispy_field }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.sgot | as_crispy_field }}</td>
                                    <td>{{ form.bilirubins | as_crispy_field }}</td>
                                </tr>
                            </table> 

                            <div><br>
                                <span>Salivary Gland Status</span>
                                <div>{{ form.salivary_gland_status | as_crispy_field }}</div>
                                <div>{{ form.salivary_gland_image | as_crispy_field }}</div>
                            </div>

                            <div><br>
                                <span>Bone Metastasis Status </span>
                                <div>{{ form.bone_metastasis_status | as_crispy_field }}</div>
                                <div>{{ form.bone_scan_image| as_crispy_field }}</div>
                                <div>{{ form.renal_scintigraphy| as_crispy_field }}</div>
                            </div>

                            <div><br>
                                <span>GAPSMA<span>
                                <div>{{ form.gapsma_choices | as_crispy_field }}</div>
                                <div>{{ form.gapsma_img| as_crispy_field }}</div>
                                <div><br>
                                    <div>{{ form.gapsma_prostate_lesion_status | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_prostate_location | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_prostate_suv | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_prostate_size| as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.gapsma_lymph_node_lesion_status| as_crispy_field }}</div>
                                    <div>{{ form.gapsma_lymph_node_location | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_lymph_node_suv | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_lymph_node_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.gapsma_bone_lesion_status| as_crispy_field }}</div>
                                    <div>{{ form.gapsma_bone_location | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_bone_suv | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_bone_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.gapsma_brain_lesion_status| as_crispy_field }}</div>
                                    <div>{{ form.gapsma_brain_location | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_brain_suv | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_brain_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.gapsma_lung_lesion_status | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_lung_location | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_lung_suv | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_lung_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.gapsma_liver_lesion_status | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_liver_location | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_liver_suv | as_crispy_field }}</div>
                                    <div>{{ form.gapsma_liver_size | as_crispy_field }}</div>
                                </div>
                            </div>

                            <div><br>
                                <span>FDGPETCT</span>
                                {{ form.fdgpetct_img | as_crispy_field }}
                                
                                <div><br>
                                    <div>{{ form.fdgpetct_prostate_lesion_status | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_prostate_location | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_prostate_suv | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_prostate_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.fdgpetct_lymph_node_lesion_status| as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_lymph_node_location | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_lymph_node_suv | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_lymph_node_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.fdgpetct_bone_lesion_status| as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_bone_location | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_bone_suv | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_bone_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.fdgpetct_brain_lesion_status| as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_brain_location | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_brain_suv | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_brain_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.fdgpetct_lung_lesion_status | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_lung_location | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_lung_suv | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_lung_size | as_crispy_field }}</div>
                                </div>

                                <div><br>
                                    <div>{{ form.fdgpetct_liver_lesion_status | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_liver_location | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_liver_suv | as_crispy_field }}</div>
                                    <div>{{ form.fdgpetct_liver_size | as_crispy_field }}</div>
                                </div>
                            </div>

                            <div><br>
                                <div>{{ form.assessment | as_crispy_field }}</div>
                                <div>{{ form.plan | as_crispy_field }}</div>
                            </div>
                            <button style="margin-top: 20px;"class="btn btn-success" type="submit">Save Changes</button>
                        </form>
                </div>
            </div>        
        </div>
    </div>
</div>
{% endblock content %}
