{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-sm">
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <h5>This system aims to store records of patients with prostate cancer. It consists of capturing <b>patient demographics</b>, <b>therapy</b>, <b>post-therapy</b>, and <b>follow ups</b>.</h5>
            <br>
            <h5>Our mission is to empower healthcare professionals, researchers, and institutions with a comprehensive toolset for recording, accessing, and analyzing patient data like never before.</h5>
            <br>
            <h5>To start, add a patient and fill up their phyiscal exams, therapy information, post-therapy information, and follow ups.</h5>
            
        </div>
        <div class="col-4">
            <h1>Questions?</h1>
            <ul style="background-image: none; border-bottom: none; display: list-item;">
                <p>If you have any questions, concerns, or inquiries regarding this system, please contact:</p>
                <i class="fa-regular fa fa-phone-square" style="display:inline-block"></i> <p style="display:inline-block; font-size:medium;">09696969696</p>
                <br>
                <i class="fa-regular fa fa-envelope" style="display:inline-block"></i> <p style="display:inline-block; font-size: medium;">lorem.ipsum@gmail.com</p>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}