{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="table-container mt-2 container-fluid py-4" style="background-color: rgb(231, 231, 231); border: none;">
    <h4><b>Filters</b></h4>
    <form method="GET" action=".">
        <div class="row custom-header">
            <div class="col">
                <h5>Assessment Type</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLowRisk" name="flexCheckLowRisk" {% if request.GET.flexCheckLowRisk %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLowRisk">Low Risk</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckIntermediateRisk" name="flexCheckIntermediateRisk" {% if request.GET.flexCheckIntermediateRisk %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckIntermediateRisk">Intermediate Risk</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckHighRisk" name="flexCheckHighRisk" {% if request.GET.flexCheckHighRisk %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckHighRisk">High Risk</label>
                </div>

                <h5>Metastasis</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexHasMetastasis" name="flexHasMetastasis" {% if request.GET.flexHasMetastasis %}checked{% endif %}>
                    <label class="form-check-label" for="flexHasMetastasis">Has Bone Metastasis</label>
                </div>

                <h5>Side Effects</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexHasSideEffect" name="flexHasSideEffect" {% if request.GET.flexHasSideEffect %}checked{% endif %}>
                    <label class="form-check-label" for="flexHasSideEffect">Has Side Effects</label>
                </div>
            </div>

            <div class="col">
                <h5>Screening Imaging</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckProstateL" name="flexCheckProstateL" {% if request.GET.flexCheckProstateL %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckProstateL">Prostate Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLNL" name="flexCheckLNL" {% if request.GET.flexCheckLNL %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLNL">Lymph Node Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckBoneL" name="flexCheckBoneL" {% if request.GET.flexCheckBoneL %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckBoneL">Bone Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckBrainL" name="flexCheckBrainL" {% if request.GET.flexCheckBrainL %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckBrainL">Brain Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLungL" name="flexCheckLungL" {% if request.GET.flexCheckLungL %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLungL">Lung Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLiverL" name="flexCheckLiverL" {% if request.GET.flexCheckLiverL %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLiverL">Liver Lesion</label>
                </div>
            </div>

            <div class="col">
                <h5>Post-Therapy Imaging</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckProstateLPT" name="flexCheckProstateLPT" {% if request.GET.flexCheckProstateLPT %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckProstateLPT">Prostate Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLNLPT" name="flexCheckLNLPT" {% if request.GET.flexCheckLNLPT %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLNLPT">Lymph Node Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckBoneLPT" name="flexCheckBoneLPT" {% if request.GET.flexCheckBoneLPT %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckBoneLPT">Bone Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLungLPT" name="flexCheckLungLPT" {% if request.GET.flexCheckLungLPT %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLungLPT">Lung Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLiverLPT" name="flexCheckLiverLPT" {% if request.GET.flexCheckLiverLPT %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLiverLPT">Liver Lesion</label>
                </div>
            </div>

            <div class="col">
                <h5>Follow-up Imaging</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckProstateLFU" name="flexCheckProstateLFU" {% if request.GET.flexCheckProstateLFU %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckProstateLFU">Prostate Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLNLFU" name="flexCheckLNLFU" {% if request.GET.flexCheckLNLFU %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLNLFU">Lymph Node Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckBoneLFU" name="flexCheckBoneLFU" {% if request.GET.flexCheckBoneLFU %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckBoneLFU">Bone Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckBrainLFU" name="flexCheckBrainLFU" {% if request.GET.flexCheckBrainLFU %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckBrainLFU">Brain Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLungLFU" name="flexCheckLungLFU" {% if request.GET.flexCheckLungLFU %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLungLFU">Lung Lesion</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckLiverLFU" name="flexCheckLiverLFU" {% if request.GET.flexCheckLiverLFU %}checked{% endif %}>
                    <label class="form-check-label" for="flexCheckLiverLFU">Liver Lesion</label>
                </div>
            </div>
        </div>

        <p class="mt-4" style="font-size: 0.9em; font-style: italic;">
            <strong>Note:</strong> Filters apply only to the latest form entry for each section, if available.
        </p>

        <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-danger">Submit</button>
            <a href="{% url 'patientList' %}" class="btn btn-secondary">Clear All</a>
        </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Assessment Type: only one of the three
            const assessmentCheckboxes = [
                document.getElementById("flexCheckLowRisk"),
                document.getElementById("flexCheckIntermediateRisk"),
                document.getElementById("flexCheckHighRisk")
            ];

            assessmentCheckboxes.forEach((checkbox) => {
                checkbox.addEventListener("change", function () {
                    if (this.checked) {
                        assessmentCheckboxes.forEach((cb) => {
                            if (cb !== this) cb.checked = false;
                        });
                    }
                });
            });
        });
    </script>
    </form>
</div>
<div class = "mt-4 container-fluid">
    <h1 class="title">Patients</h1>
    <div class="d-flex gap-2 align-items-center">
        <a class="btn btn-success" style="background-color: #871919; border-color: #871919;" href="{% url 'addPatient' %}">Add Patient</a>
        <form method="POST" action="{% url 'patientSearch' %}">
            {% csrf_token %}
            <input type="hidden" name="search" value="">
            <button class="btn btn-secondary" type="submit">Search for Patients</button>
        </form>
    </div>
    <div class="container-fluid mt-4 table-container" style="border-bottom: none; width: 80%;">
        {% if patient_count == 1 %}
        <h3 style="color: white;">Showing {{ patient_count }} patient</h3>
        {% else %}
        <h3 style="color: white;">Showing {{ patient_count }} patients</h3>
        {% endif %}

        <!-- Header -->
        <div class="row border-bottom bg-light p-3 fw-bold">
            <div class="col-1">ID</div>
            <div class="col">Name</div>
            <div class="col-auto text-end" style="text-align: left; transform: translateX(-134px);">Actions</div>
        </div>

        {% for patient in patients %}
        <!-- Patient Row -->
        <div class="row border-bottom bg-white p-3">
            <div class="col-1 align-self-center">
                {{ patient.id }}
            </div>

            <div class="col align-self-center">
                <h5>
                    <a href="{% url 'patientDetails' patient.slug %}" style="text-decoration: none; color: black">
                        {{ patient.name }}
                    </a>
                </h5>
            </div>

            <div class="col-auto align-self-end text-end">
                <a href="{% url 'patientDetails' patient.slug %}" class="mr-1">
                    <button type="button" class="btn btn-dark btn-sm">Details</button>
                </a>
                <a href="{% url 'editPatient' patient.slug %}" class="mr-1">
                    <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                </a>
                <button type="button" class="btn btn-danger btn-sm mr-1" data-bs-toggle="modal" href="#deletePatientPopup{{ patient.id }}">
                    Delete
                </button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deletePatientPopup{{ patient.id }}" tabindex="-1" role="dialog" aria-labelledby="deletePatientLabel" aria-hidden="true">
            <div class="modal-dialog" style="display: flex; margin-top: 10%;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Patient?</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Delete this patient?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-danger" href="{% url 'deletePatient' patient.id %}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}